.logo{
    height: 300px;
}

#circle-fade{
    -webkit-transition: fill-opacity 0.4s;
    transition: fill-opacity 0.4s;
}

/* circle2{
    -webkit-transition: fill-opacity 0.4s;
    transition: fill-opacity 0.4s;
} */

.header{
    margin-bottom: 100px;
    text-align: center;
}